div.faq_title {
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 16px;
    transition: 0.5s;
    width: 100%;
}

.faq_active,
div.faq_answer:hover {
    background-color: #F9F9F9;
}

.faq_active:after {
    content: "\2796";
}

div.faq_answer {
    background-color: white;
    display: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 14px;
    width: 100%;
}

div.faq_title:after {
    color: #777777;
    content: "\02795";
    font-size: 24px;
    float: right;
    margin-left: 5px;
}

img.faq_answer_img {
    width: 45vw;
}