/* Game modes */
button.switch {
    background-color: #262626;
    border: none;
    border-radius: 10%;
    color: white;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    margin: auto;
    text-align: center;
    width: 60px;
}

button.switch:hover {
    background-color: #121212;
}

img.select_gamemode {
    object-fit: cover;
    user-select: none;
    width: 64px;
}

a.gamemode_link,
a.gamemode_link:hover {
    color: var(--text);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul.section_list li.gamemode:hover {
    background-color: var(--server-list);
}

div.gamemode_icon {
    padding: 8px;
    text-align: center;
}

div.gamemode_name {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    color: var(--text);
}

div.gamemode_description {
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

/* Copy button */
a#copy-text-btn,
a#copy-text-btn :hover{
    color: white;
    font-weight: bold;
}

/* Support */
div#section-support a,
div#section-support a:hover,
div#description-gamemodes a,
div#description-gamemodes a:hover {
    color: #ff8800;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (min-width: 1201px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: hidden;
    }

    ul.section_list li.switch {
        align-items: center;
        display: flex;
        float: left;
        height: 20vw;
        justify-content: center;
        padding: 10px;
        width: 12.5%;
    }

    ul.section_list li.gamemode {
        align-items: center;
        display: flex;
        float: left;
        height: 20vw;
        justify-content: center;
        padding: 10px;
        width: 24%;
    }

    /* Trailer */
    div#section-trailer {
        height: 35vw;
    }

    iframe.trailer {
        height: 23vw;
        width: 40%;
    }

    /* Login */
    div.form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form.login {
        width: 40%
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: hidden;
    }

    ul.section_list li.switch {
        align-items: center;
        display: flex;
        float: left;
        height: 20vw;
        justify-content: center;
        padding: 10px;
        width: 12.5%;
    }

    ul.section_list li.gamemode {
        align-items: center;
        display: flex;
        float: left;
        height: 20vw;
        justify-content: center;
        padding: 10px;
        width: 24%;
    }

    /* Trailer */
    div#section-trailer {
        height: 45vw;
    }

    iframe.trailer {
        height: 28vw;
        width: 50%;
    }

    /* Login */
    div.form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form.login {
        width: 50%
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: visible;
    }

    ul.section_list {
        height: 0px;
        visibility: hidden;
    }

    /* Trailer */
    div#section-trailer {
        height: 55vw;
    }

    iframe.trailer {
        height: 36vw;
        width: 60%;
    }

    /* Login */
    div.form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form.login {
        width: 60%
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: visible;
    }

    ul.section_list {
        height: 0px;
        visibility: hidden;
    }

    /* Trailer */
    div#section-trailer {
        height: 65vw;
    }

    iframe.trailer {
        height: 44vw;
        width: 70%;
    }

    /* Login */
    div.form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form.login {
        width: 80%
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: visible;
    }

    ul.section_list {
        height: 0px;
        visibility: hidden;
    }

    /* Trailer */
    div#section-trailer {
        height: 80vw;
    }

    iframe.trailer {
        height: 54vw;
        width: 90%;
    }
}

@media screen and (max-width: 400px) {

    /* Game modes */
    div#description-gamemodes {
        visibility: visible;
    }

    ul.section_list {
        height: 0px;
        visibility: hidden;
    }

    /* Trailer */
    div#section-trailer {
        height: 80vw;
    }

    iframe.trailer {
        height: 54vw;
        width: 90%;
    }
}