/* MARGIN ON EVERY ELEMENT (EXCEPT) */
*:not(a, ul, li, img, div) {
  margin-top: 7px;
}




/* HEADER */

div.header {
	text-align: center;
}
div.header a {
  color: #ffd800;
  font-family: Verdana;
  text-decoration: none;
  text-shadow: 1px 1px #121212;
}
div.header a:hover {
  font-family: Verdana;
  text-decoration: none;
  animation-name: title_appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes title_appear {
  from {
    color: #ffd800;
    text-shadow: 1px 1px #121212;
  }
  to {
    color: #ff8800;
    text-shadow: 1px 1px #121212;
  }
}


/* NAVIGATION */

ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
ul.nav li {
  float: left;
}

ul.nav li a.active {
  background-color: #ff8000;
  color: white;
  display: block;
  font-family: Verdana;
  font-weight: normal;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
ul.nav li a.inactive {
  background-color: #262626f0;
  color: white;
  display: block;
  font-family: Verdana;
  font-weight: normal;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

ul.nav li a.active:hover {
  background-color: #ff8000f0 !important;
  font-family: Verdana;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
ul.nav li a.inactive:hover {
  background-color: #121212f0 !important;
  font-family: Verdana;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}



/* CONTENT */

div.banner {
  align-items: center;
  color: white;
  display: flex;
  position: static;
  text-align: center;
}

img.banner {
  display: block;
  filter: brightness(75%);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding: 0;
  user-select: none;
  width: 100%;
  -webkit-filter: brightness(75%);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

/* Ip */

div.ip {
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* What is CoolCraft? */

.what_is {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
div.line {
  background-color: #d1d1e0;
  height: 1px;
  margin: auto;
  margin-bottom: 20px;
  width: 50vw;
}
.what_is_desc {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/* Motivation */

.motivation {
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Available servers */

div.servers {
	height: 320px;
}

div.left, div.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}



button.switch {
  background-color: #262626f0;
  border: none;
  border-radius: 50%;
  color: white;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 50px;
  margin: auto;
  padding: 8px;
  text-align: center;
  width: 50px;
}
button.switch:hover {
  background-color: #121212f0;
  border: none;
  border-radius: 50%;
  color: white;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 50px;
  margin: auto;
  padding: 8px;
  text-align: center;
  width: 50px;
}

img.selectserver {
  object-fit: cover;
  user-select: none;
  width: 64px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
#serverlinks{
  color: black;
  text-decoration: none;
}


div.server_icon {
  padding: 8px;
  text-align: center;
}
div.server_name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
div.server_desc {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
  text-align: center;
}

/* Need help? */

.need_help {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
div.line_2 {
  background-color: #ff8800;
  height: 1px;
  margin: auto;
  margin-bottom: 20px;
  width: 50vw;
}
.need_help_desc {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.need_help_desc > a {
  color: #ff8800;
}
.need_help_desc > a:hover {
  color: #ff8800;
}
.need_help_desc > a:visited {
  color: #ff8800;
}

/* Footer */

.footer {
  background-color: #ff1a1ace;
  color: white;
  height: 100px;
}

div.footer_up {
  height: 40px;
}
div.footer_left {
  float: left;
  margin-left: 30px;
}
div.footer_right {
  float: right;
  margin-right: 30px;
}



/* WEBSITES OTHER THEN INDEX - CONTENT AND SIDEBAR */

div.content {
  display: flex;
}



/* INFO */

/* Content */

h1.title {
  font-size: 30px;
  margin-top: 4vw;
}

div.line_title {
  background-color: #ff8800;
  height: 1px;
  margin-bottom: 20px;
  width: 50vw;
}

div.text {
  font-size: 20px;
}


/* Sidebar */

h1.contact {
  font-size: 20px;
  margin-top: 4vw;
}

div.line_contact {
  background-color: #ff8800;
  height: 1px;
  margin-bottom: 20px;
  width: 12vw;
}

h1.info {
  font-size: 20px;
}

div.line_info {
  background-color: #ff8800;
  height: 1px;
  margin-bottom: 20px;
  width: 12vw;
}




/* RESPONSIVENESS */

@media screen and (min-width: 901px) {
  /* Header */
  div.header {
    font-size: 42px;
  }

  /* Navigation */
  nav ul li {
    width: 12.5%;
  }
  ul.nav li a {
    font-size: 18px;
  }

  /* Banner 1 */
  img.banner {
    height: 350px;
  }
  div.ip {
    font-size: 40px;
  }

  /* Banner 2 */
  .what_is {
    font-size: 34px;
  }
  .what_is_desc {
    font-size: 20px;
  }
  .motivation {
    font-size: 24px;
  }

  /* Servers */
  div.servers ul li {
    padding: 20px;
    width: 20%;
  }

  /* Banner 3 */
  .need_help {
    font-size: 34px;
  }
  .need_help_desc {
    font-size: 18px;
  }

  /* Content & Sidebar */
  div.main {
    flex: 70%;
    padding-left: 10vw;
    padding-right: 40px;
  }
  div.sidebar {
    flex: 30%;
    padding-left: 40px;
    padding-right: 10vw;
  }

  iframe.trailer {
    height: 600px;
    width: 90%;
  }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
  /* Header */
  div.header {
    font-size: 36px;
  }

  /* Navigation */
  nav ul li {
    width: 12.5%;
  }
  ul.nav li a {
    font-size: 14px;
  }

  /* Banner 1 */
  img.banner {
    height: 40vw;
  }
  div.ip {
    font-size: 32px;
  }

  /* Banner 2 */
  .what_is {
    font-size: 28px;
  }
  .what_is_desc {
    font-size: 18px;
  }
  .motivation {
    font-size: 18px;
  }

  /* Servers */
  div.servers ul li {
    padding: 20px;
    width: 33%;
  }

  div.servers ul li.switch {
    display: none;
  }
  div.left, div.right {
    display: none;
  }
  button.switch {
    display: none;
  }

  /* Banner 3 */
  .need_help {
    font-size: 28px;
  }
  .need_help_desc {
    font-size: 16px;
  }

  /* Content & Sidebar */
  div.content {
    display: flex;
    flex-direction: column;
  }
  div.main {
    flex: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  div.sidebar {
    flex: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
  }

  /* INFO */
  h1.title {
    font-size: 30px;
  }
  div.text {
    font-size: 20px;
  }

  iframe.trailer {
    height: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  /* Header */
  div.header {
    font-size: 36px;
  }

  /* Navigation */
  nav ul li {
    width: 25%;
  }
  ul.nav li a {
    font-size: 14px;
  }

  /* Banner 1 */
  img.banner {
    height: 40vw;
  }
  div.ip {
    font-size: 32px;
  }

  /* Banner 2 */
  .what_is {
    font-size: 28px;
  }
  .what_is_desc {
    font-size: 18px;
  }
  .motivation {
    font-size: 18px;
  }

  /* Servers */
  div.servers ul li {
    padding: 20px;
    width: 100%;
  }

  div.servers ul li.switch {
    display: none;
  }
  div.left, div.right {
    display: none;
  }
  button.switch {
    display: none;
  }

  /* Banner 3 */
  .need_help {
    font-size: 26px;
  }
  .need_help_desc {
    font-size: 16px;
  }

  /* Content & Sidebar */
  div.content {
    display: flex;
    flex-direction: column;
  }
  div.main {
    flex: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  div.sidebar {
    flex: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  /* INFO */
  h1.title {
    font-size: 26px;
  }
  div.text {
    font-size: 18px;
  }
  .website_banner {
    width: 90%;
  }

  iframe.trailer {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  /* Header */
  div.header {
    font-size: 30px;
  }

  /* Navigation */
  nav ul li {
    width: 100%;
  }
  ul.nav li a {
    font-size: 14px;
  }

  /* Banner 1 */
  img.banner {
    height: 60vw;
  }
  div.ip {
    font-size: 24px;
  }

  /* Banner 2 */
  .what_is {
    font-size: 22px;
  }
  .what_is_desc {
    font-size: 16px;
  }
  .motivation {
    font-size: 14px;
  }

  /* Servers */
  div.servers ul li {
    padding: 20px;
    width: 100%;
  }

  div.servers ul li.switch {
    display: none;
  }
  div.left, div.right {
    display: none;
  }
  button.switch {
    display: none;
  }

  /* Banner 3 */
  .need_help {
    font-size: 22px;
  }
  .need_help_desc {
    font-size: 14px;
  }

  /* Content & Sidebar */
  div.content {
    display: flex;
    flex-direction: column;
  }
  div.main {
    flex: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  div.sidebar {
    flex: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  /* Footer */
  div.footer_left {
    float: left;
    margin-left: 25%;
  }
  div.footer_right {
    float: right;
    margin-right: 33%;
  }

  /* INFO */
  h1.title {
    font-size: 22px;
  }
  div.text {
    font-size: 16px;
  }
  .website_banner {
    width: 90%;
  }
  
  iframe.trailer {
    height: 200px;
    width: 100%;
  }
}






/* Page serveri  */
#survivalpic1{
margin: 5vw 5vw 5vw 5vw;
display: flex;
width: 35vw;
}

#serverspics{
display: flex;
flex:50%;
float: left;
list-style-type: none;
}
#divofservers{
  height: 30vw;
}
#survivalpic2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/*
GALLERY
*/
#trailer{
  margin: 5vw 5vw 5vw 5vw;
}


/*
faq
*/
.faqpics{
  width: 45vw;
}

#hide{
  visibility: hidden;
  height: 0px;
}



/*
Objave
*/
#postthumbnail{
  width: 30vw;
  float: left;
  padding-bottom: 15px;
}
#descofupdate{
  color:black;
  text-decoration: none;
  margin: 20px;
}
#update{
  font-size: 22px;
}
#update_text{
  font-size: 18px;
}
#readme{
  padding: 15px;
  background-color: #F55145;
  margin-top: 10px;
  display: inline-block;
  color: white;
}
#readme:hover {
  background-color: #f43325;
}

#dateofupdate{
  font-size: 15px;
}
#updatepic{
  width: 100%;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  #postthumbnail {
    width: 60vw;
  }
}
@media screen and (min-width: 651px) and (max-width: 900px) {
  #postthumbnail {
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 650px) {
  #postthumbnail {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  #postthumbnail {
    width: 100%;
  }
}