iframe.store {
    height: 89vh;
    width: 100%;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (min-width: 601px) and (max-width: 800px) {
    iframe.store {
        height: 85vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    iframe.store {
        height: 85vh;
    }
}

@media screen and (max-width: 400px) {
    iframe.store {
        height: 80vh;
    }
}