div.gamemodes {
    display: flex;
    flex-wrap: wrap;
}

div.gamemode {
    padding-bottom: 25px;
    padding-right: 20px;
}

div.gamemode_image {
    align-items: center;
    background-color: black;
    display: flex;
    position: relative;
    text-align: center;
}

img.gamemode_banner:hover {
    opacity: 85%;
}

div.gamemode_text {
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (min-width: 1201px) {
    div.gamemode {
        width: 33.33%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    div.gamemode {
        width: 50%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    div.gamemode {
        width: 50%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    div.gamemode {
        width: 50%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    div.gamemode {
        width: 100%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    div.gamemode {
        width: 100%;
    }

    img.gamemode_banner {
        width: 100%;
    }
}