/*
// BACK TO TOP BUTTON
*/

a.back_to_top {
    display: none;

    position: fixed;
    bottom: 20px;
    right: 30px;

    border: none;
    border-radius: 5px;
    padding: 5px;

    box-shadow: var(--back_to_top_shadow);

    z-index: 99;

    background-color: #ff8800;
    text-decoration: none;

    cursor: pointer;
}

a.back_to_top:hover {
    background-color: #ec7702;
}

img.back_to_top {
    width: 25px;
    height: 25px;
}



/*
// COPY TO CLIPBOARD BUTTON
*/

button.copy_button {
    font-size: inherit;

    background-color: transparent;
    color: var(--primary_link_color);

    border: none;
}

button.copy_button:hover {
    background-color: #00000010;
    color: var(--hover_link_color);

    cursor: pointer;
}

input#copy_text {
    display: none;

    position: fixed;
    bottom: 20px;
    left: 30px;

    margin: 0;
    border: none;
    padding: 5px;

    width: 25px;
    height: 25px;

    background-color: transparent;
    color: transparent;
}