/* BACK TO TOP BUTTON */
a.back_to_top {
    display: none;

    position: fixed;
    bottom: 20px;
    right: 30px;

    border: none;
    border-radius: 5px;
    padding: 5px;

    box-shadow: var(--back_to_top_shadow);

    z-index: 99;

    background-color: #ff8800;
    text-decoration: none;

    cursor: pointer;
}

a.back_to_top:hover {
    background-color: #ec7702;
}

img.back_to_top {
    width: 25px;
    height: 25px;
}



/* BACK TO TOP BUTTON Animations */
.button_entrance {
    animation: button_entrance 0.3s both;
}

@keyframes button_entrance {
    from {
        opacity: 0;
        transform: translate(0, 100%);
    }

    to {
        opacity: 1;
    }
}

.button_exit {
    animation: button_exit 0.3s both;
}

@keyframes button_exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(0, 100%);
    }
}



/* COPY TO CLIPBOARD BUTTON */
button.copy_button {
    background-color: transparent;
    color: var(--primary_link_color);
    font-size: inherit;

    border: none;
}

button.copy_button:hover {
    background-color: #00000010;
    color: var(--hover_link_color);

    cursor: pointer;
}

input#copy_text {
    display: none;

    position: fixed;
    bottom: 20px;
    left: 30px;

    margin: 0;
    border: none;
    padding: 5px;

    width: 25px;
    height: 25px;

    background-color: transparent;
    color: transparent;
}