div.content {
    display: flex;
    padding-bottom: 40px;
}



h1.main_title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4vw;
}

div.main_title_line {
    background-color: #ff8800;
    height: 1px;
    margin-bottom: 30px;
    width: 60vw;
}

div.main_text {
    font-size: 20px;
}



h1.sidebar_title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4vw;
}

div.sidebar_title_line {
    background-color: #ff8800;
    height: 1px;
    margin-bottom: 20px;
    width: 17vw;
}

a.link, a.link:hover {
    color: #ff8800;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (min-width: 1201px) {
    div.main {
        flex: 70%;
        padding-left: 5vw;
        padding-right: 50px;
    }

    div.sidebar {
        flex: 30%;
        padding-left: 60px;
        padding-right: 5vw;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    div.main {
        flex: 70%;
        padding-left: 4vw;
        padding-right: 50px;
    }

    div.sidebar {
        flex: 30%;
        padding-left: 20px;
        padding-right: 4vw;
    }

    div.sidebar_title_line {
        width: 22vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    div.main {
        flex: 70%;
        padding-left: 3vw;
        padding-right: 50px;
    }

    div.sidebar {
        flex: 30%;
        padding-left: 10px;
        padding-right: 3vw;
    }

    div.sidebar_title_line {
        width: 26vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    div.content {
        display: flex;
        flex-direction: column;
    }

    div.main {
        flex: 100%;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    h1.main_title {
        font-size: 30px;
    }
    
    div.main_title_line {
        width: 85vw;
    }

    div.main_text {
        font-size: 20px;
    }

    div.sidebar {
        flex: 100%;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 8vw;
    }

    div.sidebar_title_line {
        width: 40vw;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    div.content {
        display: flex;
        flex-direction: column;
    }

    div.main {
        flex: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    h1.main_title {
        font-size: 26px;
    }
    
    div.main_title_line {
        width: 90vw;
    }

    div.main_text {
        font-size: 18px;
    }

    div.sidebar {
        flex: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
    }

    div.sidebar_title_line {
        width: 55vw;
    }
}

@media screen and (max-width: 400px) {
    div.content {
        display: flex;
        flex-direction: column;
    }

    div.main {
        flex: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    h1.main_title {
        font-size: 22px;
    }
    
    div.main_title_line {
        width: 90vw;
    }

    div.main_text {
        font-size: 16px;
    }

    div.sidebar {
        flex: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
    }

    div.sidebar_title_line {
        width: 75vw;
    }
}