footer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;

    background-color: #e89b0c;
    border-top: 2px solid var(--secondary_color);
    color: white;
}

footer nav {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media only screen and (min-width: 1200px) {
    footer nav {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    footer nav {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer nav {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    footer {
        flex-wrap: wrap;
        height: 120px;
    }

    footer nav {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        flex-wrap: wrap;
        height: 120px;
    }

    footer nav {
        width: 100%;
    }
}