/*
// CSS variables
*/
:root {
    font-family: 'Lato', sans-serif;

    --primary_color: #ffffff;
    --secondary_color: #212121;

    --primary_text_color: #000000;

    --primary_link_color: #ff8800;
    --secondary_link_color: #ff8800;
    --hover_link_color: #ff6600;

    --dropdown_background: #dddddd;
    --dropdown_background_hover: #ddddddcc;
    --dropdown_box_shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    --back_to_top_shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
}

/*
// CSS variables
// Dark theme
*/
.dark_theme {
    --primary_color: #212121;
    --secondary_color: #ffffff;

    --primary_text_color: #ffffff;

    --dropdown_background: grey;
    --dropdown_background_hover: #808080cc;
    --dropdown_box_shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);

    --back_to_top_shadow: 0px 0px 16px 4px rgba(255, 255, 255, 0.2);
}



/* Makes a document fit the whole screen */
body {
    margin: 0;
}



/*
// General positioning for most elements
*/
.flex {
    display: flex;
}

.cflex {
    display: flex;
    flex-direction: column;
}

.crflex {
    display: flex;
    flex-direction: column-reverse;
}

.rrflex {
    display: flex;
    flex-direction: row-reverse;
}

.wflex {
    display: flex;
    flex-wrap: wrap;
}

.wrflex {
    display: flex;
    flex-wrap: wrap-reverse;
}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.text_center {
    text-align: center;
}

.everything_center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gap_0p5 {
    gap: 0.5%;
}

.gap_1 {
    gap: 1%;
}

.gap_1p5 {
    gap: 1.5%;
}

.gap_2 {
    gap: 2%;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.height_fullscreen {
    height: 100svh;
}

.width_90 {
    width: 90%;
}

.width_95 {
    width: 95%;
}

.width_100 {
    width: 100%;
}



/*
// General styles for most elements
*/
.has_bg_color {
    background-color: var(--primary_color);
    color: var(--primary_text_color);
}

.has_bg_img {
    position: relative;

    background-color: var(--primary_color);
    color: #ffffff;
}

.bg {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.margin_1 {
    margin: 1%;
}

.margin_2 {
    margin: 2%;
}

.margin_3 {
    margin: 3%;
}

.padding_1 {
    padding: 1%;
}

.padding_2 {
    padding: 2%;
}

.padding_3 {
    padding: 3%;
}

.unselectable {
    user-select: none;
}

.white {
    background-color: #d1d1e0;
}



/* SECTION and ASIDE */
section.content {
    gap: 20px;
    padding: 3%;
}

div.content {
    padding: 3%;
    gap: 4.5vw;
}

section.main,
aside.sidebar {
    gap: 20px;
    width: 100%;
}



/* Background image */
img.section_bg {
    filter: brightness(70%);
    user-select: none;
}



/* Inner section */
article.inner {
    max-width: 95%;
    width: 100%;
    
    z-index: 0;
}



/* Title */
h1.title {
    font-size: calc(1vw + 20px);
    margin: 0.5em 0;
}

h2.title {
    font-size: calc(1vw + 14px);
    margin: 0
}

h3.title {
    font-size: calc(1vw + 8px);
    margin: 0;
}

h4.title {
    font-size: calc(1vw + 6px);
    margin: 0;
}



/* Text */
.title_text {
    font-size: calc(1vw + 10px);
}

.text {
    font-size: calc(1vw + 4px);
}



/* List */
.list {
    padding-inline-start: 30px;
}



/* Link */
a.link {
    color: var(--primary_link_color);
    text-decoration: none;
}

a.link:hover {
    color: var(--hover_link_color);
    text-decoration: underline;
}

a.link_over_bg_img {
    height: 100%;
    width: 100%;

    color: #ffffff;
    text-decoration: none;
    z-index: 1;
}

a.link_over_bg_img:hover {
    background-color: #00000040;
}

a.search_link {
    display: block;
    font-size: 14px;
    padding: 12px 16px;

    color: var(--primary_text_color);
    text-decoration: none;
}

a.search_link:hover {
    background-color: var(--dropdown_background);
}

input.search {
    margin: 0;
    width: 300px;
}



/* Iframe */
iframe {
    border: none;
    margin: 1.2em;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media only screen and (min-width: 1200px) {

    /* General positioning for most elements */
    .height_normal {
        height: calc(20vw + 130px);
    }

    .height_small {
        height: 16vw;
    }

    /* SECTION and ASIDE */
    div.content section.main {
        flex: 73%;
    }

    div.content aside.sidebar {
        flex: 27%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* General positioning for most elements */
    .height_normal {
        height: calc(22.5vw + 160px);
    }

    .height_small {
        height: 18vw;
    }

    /* SECTION and ASIDE */
    div.content section.main {
        flex: 68%;
    }

    div.content aside.sidebar {
        flex: 32%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* General positioning for most elements */
    .height_normal {
        height: calc(25vw + 180px);
    }

    .height_small {
        height: 20vw;
    }

    /* SECTION and ASIDE */
    div.content section.main {
        flex: 63%;
    }

    div.content aside.sidebar {
        flex: 37%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

    /* General positioning for most elements */
    .height_normal {
        height: calc(27.5vw + 190px);
    }

    .height_small {
        height: 22vw;
    }

    /* Text */
    .title_text {
        font-size: calc(2vw + 6px);
    }

    .text {
        font-size: calc(2vw + 2px);
    }

    /* SECTION and ASIDE */
    div.content {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {

    /* General positioning for most elements */
    .height_normal {
        height: calc(30vw + 200px);
    }

    .height_small {
        height: 24vw;
    }

    /* Text */
    .title_text {
        font-size: calc(3vw + 4px);
    }

    .text {
        font-size: calc(3vw + 1px);
    }

    /* SECTION and ASIDE */
    div.content {
        flex-wrap: wrap;
    }
}



/* Dark mode (Selected default method) */
/* @media (prefers-color-scheme: dark) {} */