div.section {
    align-items: center;
    color: white;
    display: flex;
    position: static;
    text-align: center;
}

img.section {
    display: block;
    filter: brightness(70%);
    object-fit: cover;
    user-select: none;
    width: 100%;
}

div.inner_section {
    align-items: center;
    color: white;
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-align: center;
    width: 100%;
}

div.inner_section.text {
    color: black;
}

h1.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
}

a.title,
a.title:hover {
    color: white;
    text-decoration: none;
}

div.section_line {
    background-color: #d1d1e0;
    height: 1px;
    margin: auto;
    margin-bottom: 20px;
}

div.section_line.orange {
    background-color: #ff8800;
    height: 1px;
    margin: auto;
    margin-bottom: 20px;
}

div.description {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
}



/*
// RESPONSIVENESS
// Depending on the screen width
*/
@media screen and (min-width: 1201px) {
    .section {
        height: 30vw;
    }

    h1.title {
        font-size: 34px;
    }

    div.section_line {
        width: 500px;
    }

    div.description {
        font-size: 24px;
    }
}


@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .section {
        height: 34vw;
    }

    h1.title {
        font-size: 29px;
    }

    div.section_line {
        width: 450px;
    }

    div.description {
        font-size: 21px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .section {
        height: 38vw;
    }

    h1.title {
        font-size: 24px;
    }

    div.section_line {
        width: 400px;
    }

    div.description {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .section {
        height: 42vw;
    }

    h1.title {
        font-size: 3vw;
    }

    div.section_line {
        width: 50vw;
    }

    div.description {
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .section {
        height: 46vw;
    }

    h1.title {
        font-size: 4vw;
    }

    div.section_line {
        width: 60vw;
    }

    div.description {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 400px) {
    .section {
        height: 50vw;
    }

    h1.title {
        font-size: 4vw;
    }

    div.section_line {
        width: 70vw;
    }

    div.description {
        font-size: 3.5vw;
    }
}


/* Dark mode (Selected default method) */
/* @media (prefers-color-scheme: dark) {} */