div.form {
    padding: 30px;
    background-color: white;
}

label.input_title {
    font-weight: bold;
}

input[type=text],
input[type=password] {
    background: #f1f1f1;
    border: none;
    display: inline-block;
    margin: 5px 0 22px 0;
    padding: 15px;
    width: 100%;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #dddddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button.login {
    background-color: #029161;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.85;
}

button.login:hover {
    opacity: 1;
}


a {
    color: dodgerblue;
}