/* OLD NAVIGATION

div.header {
    text-align: center;
}

div.header a {
    color: #ffd800;
    font-family: Verdana;
    text-decoration: none;
    text-shadow: 1px 1px #121212;
}

div.header a:hover {
    font-family: Verdana;
    text-decoration: none;
    animation-name: title_appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes title_appear {
    from {
        color: #ffd800;
        text-shadow: 1px 1px #121212;
    }

    to {
        color: #ff8800;
        text-shadow: 1px 1px #121212;
    }
}



ul.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a.active {
    background-color: #ff8000;
    color: white;
    display: block;
    font-family: Verdana;
    font-weight: normal;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

ul.nav li a.inactive {
    background-color: #262626f0;
    color: white;
    display: block;
    font-family: Verdana;
    font-weight: normal;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

ul.nav li a.active:hover {
    background-color: #ff8000f0 !important;
    font-family: Verdana;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

ul.nav li a.inactive:hover {
    background-color: #121212f0 !important;
    font-family: Verdana;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}*/


/*
RESPONSIVENESS
Depending on the screen width
*/
/*@media screen and (min-width: 1201px) {
    div.header {
        font-size: 42px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    div.header {
        font-size: 42px;
    }
}

@media screen and (min-width: 901px) {
    div.header {
        font-size: 42px;
    }

    nav ul li {
        width: 12.5%;
    }

    ul.nav li a {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    div.header {
        font-size: 36px;
    }

    nav ul li {
        width: 12.5%;
    }

    ul.nav li a {
        font-size: 14px;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    div.header {
        font-size: 36px;
    }

    nav ul li {
        width: 25%;
    }

    ul.nav li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    div.header {
        font-size: 30px;
    }

    nav ul li {
        width: 100%;
    }

    ul.nav li a {
        font-size: 14px;
    }
}

*/



:root {
    --primary-color: white;
    --secondary-color: #212121;

    --text: black;
    --dropbackground: #ddd;
    --dropboxshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dark-theme {
    --primary-color: #212121;
    --secondary-color: white;

    --text: white;
    --dropbackground: grey;
    --dropboxshadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}


header * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

div.nav_links {
    background-color: var(--primary-color);
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary-color);
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links div.button-img {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a {
    transition: all 0.3s ease 0ms;
}

.nav_links div.button-img a:hover {
    color: orange;
}

.navi {
    background-color: #ABBAEA;
}

img.nav_img {
    height: 50px;
    width: 50px;
}

div.nav_div {
    cursor: pointer;
}


.home {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.home .img-home {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.home:hover .img-home {
    display: inline;
}





.info {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.info .img-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.info:hover .img-info {
    display: inline;
}






.gamemodes {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.gamemodes .img-gamemodes {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.gamemodes:hover .img-gamemodes {
    display: inline;
}





.news {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.news .img-news {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.news:hover .img-news {
    display: inline;
}





.faq {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.faq .img-faq {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.faq:hover .img-faq {
    display: inline;
}





.store {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.store .img-store {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.store:hover .img-store {
    display: inline;
}






.options {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.options .img-options {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.options:hover .img-options {
    display: inline;
    cursor: pointer;
}

.options-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: var(--dropboxshadow);
    z-index: 1;
}

.options-dropdown-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Lato', sans-serif;
}

.options:hover .options-dropdown-content {
    display: block;
}

.options-dropdown-content a:hover {
    background-color: var(--dropbackground);
}