/* MARGIN ON EVERY ELEMENT (EXCEPT) */
div.header {
  margin: 7px;
}



/* RESPONSIVENESS */

@media screen and (min-width: 901px) {
  iframe.trailer {
    height: 600px;
    width: 90%;
  }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
  iframe.trailer {
    height: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  .website_banner {
    width: 90%;
  }

  iframe.trailer {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .website_banner {
    width: 90%;
  }
  
  iframe.trailer {
    height: 200px;
    width: 100%;
  }
}




/* Page serveri  */
#survivalpic1{
margin: 5vw 5vw 5vw 5vw;
display: flex;
width: 35vw;
}

#serverspics{
display: flex;
flex:50%;
float: left;
list-style-type: none;
}
#divofservers{
  height: 30vw;
}
#survivalpic2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/*
GALLERY
*/
#trailer{
  margin: 5vw 5vw 5vw 5vw;
}


/*
faq
*/
.faqpics{
  width: 45vw;
}

#hide{
  visibility: hidden;
  height: 0px;
}




#updatepic{
  width: 100%;
}
